<div class="main">
  <div class="rectangle14">
    <div class="banner">
      <div class="container">
        <h1>Le Unicorn</h1>
        <br>
        <div class="button">
        <a class="rent-btn btn-text" href="/unicorns">RENT ME</a>
        </div>
      </div>
    </div>
  </div>
</div>

<%# style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);" %>
