.bigcard {
  flex: 0 0 auto;
  width: 280px;
}

.card-category {
  display: flex;
  background-size: cover;
  background-position: center;
  height: 250px;
  justify-content: center;
  align-items: center;
  position: relative;
  border: black 4px solid;

}

.card-large {
  height: 50vh;
}

.add{
  border-radius: 10px;
}

body {
  background-color: #9BF6FF;
}

.box-descrip {
  background-color: #FDFFB6;
  color: black;
  font-size: 14px;
  margin-bottom: 30px;
  border-bottom: black 4px solid;
  border-right: black 4px solid;
  border-left: black 4px solid;
}

.price {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 8px;
  width: 61px;
  height: 28px;
  border-radius: 20px;
}

.row-s {
  justify-content: center;
}
