.uni-form {
  background-color: #fdffb6;
  border: black 4px solid;
  width: 50vw;
  margin: 0 auto;
  padding: 30px;
  margin-top: 25px;
}

.uni-form h2 {
  margin-bottom: 15px;
}
 .uni-form .btn-primary {
  margin: 15px 0;
  padding: 0px;
 }
 .uni-form .btn {
  color: white;
 }
