.navbar-lewagon {
  justify-content: space-between;
  background: #FFC6FF;
  border-bottom: 4px solid black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 90px;
  width: 95px;
}

.nav-link {
  color: black;
}
.nav-link:hover{
  color: #CAFFBF;
}
h1 {
  display: inline;
  color: #6da7ad;
  font-family: 'VT323', monospace;
}
