.navbar-lewagon {
  justify-content: space-between;
  //background: #FFC6FF;
  background: #FDFFB6;
  border: 4px solid black;
  margin: 0;
  padding: 0;
}

.navbar-lewagon .navbar-collapse {
   flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 90px;
  width: 95px;
}

.nav-link {
  color: #F31182;
  font-size: 22px;
  margin-top: 10px;
  //vertical-align: -0.655em;
  //display: inline;
}
.nav-link:hover{
  color: #CAFFBF;
}
h1 {
  display: inline;
  color: #F31182;
  font-family: 'VT323', monospace;
  font-size: 70px;
  margin: 0;
  padding-right: 23px;
  // text-align: baseline;
  vertical-align: -0.155em;
}
h1:hover{
  color: #CAFFBF;
}
.form-control {
  border: 2px solid #F31182;
}
.avatar{
  width: 72px;
  border: 4px solid black;
}
.navbar-brand {
  border-left: 4px solid black;
  border-right: 4px solid black;
  height: 100%;
  display: flexbox;
  color: #F31182;
  background: #FFC6FF;
}
.navbar-nav {
  gap: 22px;
}
#navbarSupportedContent {
  border-left: 4px solid black;
  border-right: 4px solid black;
  height: 100%;
  background-color: #FFC6FF;
  margin: 0;
  padding: 15px;
}

// .navbarSupportedContent {
//   border-left: 4px solid black;
// }
