.ucontainer {
  display: flex;
  flex-wrap: wrap;
}

.u-photo {
  background-size: cover;
  height: 450px;
  width: 450px;
  margin: 30px;
  border: black 4px solid;
}

.u-descrip {
  width: 520px;
  height: 160px;
  background: #CAFFBF;
  border-radius: 5px;
  position: relative;
  margin-top: 15px;
  padding: 10px;
  border: black 4px solid;
}

.dlt-btn {
  position: absolute;
  bottom: 1px;
  width: 110px;
  font-size: 9px;
  margin: 5px;
  background-color: #FFC6FF;
  border: black 4px solid;
 }

.dlt-btn:hover {
  background-color: #F31182;
  color: black;
 }

 .bk-btn:hover {
  background-color: #F31182;
  color: black;
 }

.bk-btn {
position: absolute;
bottom: 1px;
right: 1px;
margin: 5px;
font-size: 9px;
color: black;
background-color: #FFC6FF;
border: black 4px solid;
}

.prices {
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  width: 130px;
}

.maps {
  width: 520px;
  height: 200px;
  border: black 4px solid;
}

.r-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.names{
  display: flex;
  justify-content: space-between;
  font-size: 34px;
}

.boxa{
  position: relative;
}
.boxb{
  position: absolute;
  right: 1px;
}
